<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">{% if app.user %}{{app.user.email}}{% else %}Paramètre{% endif %}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                    {% if app.user %}

                    {% if is_granted("ROLE_ADMIN") %}
                    <a class="dropdown-item" href="{{path('easyadmin')}}">Admin</a>


                    {% endif %}

                    <a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a>

                    {% else %}
                    <a class="dropdown-item" href="{{path('app_login')}}">Se connecter</a>
                    <a class="dropdown-item" href="{{path('app_register')}}">S'inscrire</a>


                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>